<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.inasnacht">
        <category id="main" label="30106">
            <group id="1">
              <setting id="quality" label="30007" type="integer" >
                    <default>3</default>
                    <constraints>
                        <options>
                            <option label="30200">0</option>
                            <option label="30201">1</option>
                            <option label="30202">2</option>
                            <option label="30203">3</option>
                            <option label="30204">4</option>
                            <option label="30205">5</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="integer"/>
                </setting>
              <setting id="page_itemCount" label="30015" type="integer">
                    <default>20</default>
                    <constraints>
                        <options>
                            <option label="30300">5</option>
                            <option label="30301">10</option>
                            <option label="30302">15</option>
                            <option label="30303">20</option>
                            <option label="30304">25</option>
                            <option label="30305">30</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="integer"/>
                </setting>
            </group>
          <group id="2">
                <setting id="skip_itemPage" type="boolean" label="30016" help="">
                    <dependencies>
                        <dependency type="enable" setting="database_enabled">false</dependency>
                    </dependencies>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="suppress_Interview" type="boolean" label="30008" help="">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="suppress_Unplugged" type="boolean" label="30009" help="">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="suppress_duration" label="30010" type="integer">
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30400">0</option>
                            <option label="30401">30</option>
                            <option label="30402">60</option>
                            <option label="30403">180</option>
                            <option label="30404">300</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer"/>
                </setting>
          </group>
        </category>
        <category id="database" label="30017">
            <group id="3">
                <setting id="database_enabled" type="boolean" label="30018" help="">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4">
                <setting id="db_host" type="string" label="30019" help="">
                    <dependencies>
                        <dependency type="enable" setting="database_enabled">true</dependency>
                    </dependencies>
                    <default>192.168.132.1</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="ip">
                        <heading>30019</heading>
                    </control>
                </setting>
                <setting id="db_port" type="integer" label="30020" help="">
                    <dependencies>
                        <dependency type="enable" setting="database_enabled">true</dependency>
                    </dependencies>
                    <default>3306</default>
                    <control type="edit" format="integer">
                        <heading>30020</heading>
                    </control>
                </setting>
                <setting id="db_username" type="string" label="30021" help="">
                    <dependencies>
                        <dependency type="enable" setting="database_enabled">true</dependency>
                    </dependencies>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30021</heading>
                    </control>
                </setting>
                <setting id="db_password" type="string" label="30022" help="">
                    <dependencies>
                        <dependency type="enable" setting="database_enabled">true</dependency>
                    </dependencies>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30022</heading>
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>